@page
@model GroceryListUI.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="HomeTitle" class="AddProductBg" style="background-color:peachpuff; text-align:center; font-size:2vw; font-size:55px; font-weight:bold;">
    <h1 class="display-4" style="font-weight:800">Welcome to Grocery List</h1>
</div>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!--Logo-->
    <div class="row  mt-3 mb-3">
        <div class="col-sm-2">
            <img src="https://m.media-amazon.com/images/I/51ci9LqaybL._AC_SL1000_.jpg" style="width:100%;max-width:100px" />
        </div>

        <div id="TitleButton" class=" col-sm-3" style=" text-align:center; font-size:2vw; font-size:45px; font-weight:550 ">
            <label for="inputProductName" class="col-form-label"> About Us</label>
        </div>

        <div id="TitleButton" class="AddProductBg col-sm-3" style=" text-align:center; font-size:2vw; font-size:45px; font-weight:550">
            <label for="inputProductName" class="col-form-label"> Coupons</label>
        </div>

        <!--Price-->
        <div id="TitleButton" class="AddProductBg col-sm-3" style="text-align:center; font-size:2vw; font-size:45px; font-weight:550">
            <label for="inputPrice" class="col-form-label">Checkout</label>

        </div>
    </div>

    <div class="row mb-4 h-200">
        <!--Image-->
        <div class="AddProductBg col-sm-5">
            <label for="SearchList" class="col-sm-3 col-form-label"></label>
            <input type="text" class="form-control" id="inputProductSearch" value="Search" />
            <div style="height:66vw;overflow-y:auto; overflow-x:hidden">
                @foreach (var product in Model.ProductsList)
                {
                    <!-- Product List-->



                    <div class="row mb-5 align-content-center  ">
                        <hr size="10">

                        <div class="row">
                            <div id="SearchName" class="AddProductBg" style="width:100%; text-align:center; font-size:2vw; margin-left:8px ">
                                <b>@product.ProductName </b>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <img src="@product.ImageURL" style="width:100%;max-width:175px;margin:8px; text-align:center;" />
                            </div>
                            <div class="AddProductBg col-sm-6" style="font-size:4vw; height:auto;width:auto; ">
                                <b>$<i>@product.Price</i></b>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-12">
                                <a asp-page="EditProduct" asp-route-id="@product.ProductID" class="btn btn-success" style="width:100%;height:auto;margin-left:8px">
                                    <i class="bi bi-pencil-square mx-2"></i>Add Item
                                </a>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-1 ">
        </div>

        <!--Label-->
        <div id="SearchList" class="col-sm-6" style="align-content:center" >
            <label for="ListTitle" class="col-form-label" style="text-align:center; font-size:45px; font-weight:550">Shopping List</label>
            <div style="height:66vw;overflow-y:auto; overflow-x:hidden">
                @foreach (var product in Model.ProductsList)
                {
                    <!-- Product List-->



                    <div class="row mb-5 align-content-center  " style="background-color:darkcyan" >
                        <hr size="10">

                        <div class="row">
                            <div id="ListName" class="ProductBg" style=" border:medium ; width:100%; text-align:center; font-size:2vw; margin-left:8px ">
                                <b>@product.ProductName </b>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <img src="@product.ImageURL" style="width:100%;max-width:175px;margin:8px; text-align:center; " />
                            </div>
                            <div rows="2" class="col-sm-6" style=" text-align:center; border:medium;font-size:3vw; height:auto;width:stretch; ">
                                <b>Qty:</b><input type="text" class="form-control" id="inputQuantity"value="@product.Quantity" />
                                    
                                
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-6" style=" text-align:center;  border:medium;font-size:4vw">
                                <b>$<i>@product.Price</i></b>
                            </div>
                            <div class="col-6">
                                <a asp-page="EditProduct" asp-route-id="@product.ProductID" rows="3" class=" d-block btn btn-primary " style="align-items:center; ">
                                    <i class="bi bi-pencil-square mx-2"></i>Remove Item
                                </a>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>



</form>
