@page
@model GroceryListUI.Pages.Models.IndexModel;

@{

}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h2>Product List</h2>
        </div>
        <div class="col-sm-9">
            <a class= "AddProductBg bg-success  btn " asp-page="AddProduct"> Add Product</a>
        </div>
    </div>
    @foreach (var product in Model.ProductsList)
    {
        <!-- Product List-->
        <div class="row mb-5">
            <hr size="10">
            <div class=" col-sm-3">
                <img src="@product.ImageURL" width="200" height="300"/> <!-- image goes here-->
            </div>

            <div class="  col-sm-3">
                <img src="@product.NutrtionLabel" width="150" height="300" /> <!-- image goes here-->
            </div>
            <!--Product Information-->
            <div class="col-sm-6">
                <div class="row">
                </div>

                <div class="row">
                    <div class="AddProductBg mt-4 mb-4 col-sm-12">
                        <b>@product.ProductName</b>
                    </div>
                </div>

                <div class="row">
                    <div class=" AddProductBg mt-4 mb-4 col-sm-12">
                        <small>Description: @product.Description</small>
                    </div>
                </div>

                <div class="row">
                    <div class="AddProductBg mt-4 mb-4 col-sm-12">
                        Ingredients: @product.Ingredient
                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="AddProductBg mt-4 mb-4 col-md-4">
                    <b>Qt:<i>@product.Quantity</i></b>
                </div>
                <div class="AddProductBg mt-4 mb-4 col-md-4 offset-md-4">
                    <b>$:<i>@product.Price</i></b>
                </div>
            </div>

        </div>
    }
</div>
